<style>
        .conteudo {
            background-color: whitesmoke;
            margin: 20px;
        }
        
        body{
            background-color:gray ;
        }
        
        p {
            text-align: justify;
        }

        h1 {text-align: center;}

        .container{
            margin: 5px;
            padding: 5px;
        }

        .container-flex {
            display: flex;
        }

        .container-azul {
            background: lightskyblue;
            height: 300px;
            width: 400px;
        }

        .container-cinza {
            height: 300px;
            width: 400px;
            background: gray;
        }

        .container-vermelho {
            height: 300px;
            width: 400px;
            background: red;
        }
    </style>